language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - sudo apt-get install xvfb
  - pip install -r requirements.txt

cache:
  directories:
  - "$HOME/.cache/pip"
  - lib/python3.6/site-packages
  - lib/python3.7/site-packages
  - lib/python3.8/site-packages

script: xvfb-run nosetests --with-coverage tests
